.name {
  color: lightblue;
  @media (max-width: 1199px) and (min-width: 1186px) {
    font-size: 39px;
  }
  @media (min-width: 992px) {
    display: inline;
  }
}

.macbook {
  width: 100%;
  z-index: 1;
}

.icon {
  position: absolute;
  width: 135px;

  @include respond(big-desktop) {
    width: 115px;
  }
  @include respond(desktop) {
    width: 95px;
  }
  @include respond(tab-land) {
    width: 125px;
  }
  @include respond(tab-port) {
    width: 95px;
  }
  @include respond(big-phone) {
    width: 85px;
  }
  @include respond(phone) {
    width: 75px;
  }
  @include respond(small-phone) {
    width: 65px;
  }
  @include respond(very-slim-phone) {
    width: 55px;
  }
  @include respond(slimmest-phone) {
    width: 45px;
  }

  &--react {
    top: 20%;
    left: 57%;
  }

  &--sass {
    top: 53%;
    right: 20%;
  }

  &--html {
    top: 50%;
    left: 2%;
  }

  &--css {
    top: 15%;
    left: 30%;
  }

  &--javascript {
    top: 30%;
    left: 82%;
  }

  &--java {
    top: 45%;
    left: 23%;
  }

  &--sql {
    top: 13%;
    left: 10%;
  }

  &--git {
    top: -12%;
    left: 78%;
  }
  
  &--bootstrap {
    top: 46%;
    left: 43%;
    width: 60px;
    @include respond(tab-port) {
      width: 55px;
    }
    @include respond(slim-phone) {
      width: 35px;
    }
  }

  &--github {
    top: 68%;
    left: 45%;
    width: 60px;
    @include respond(tab-port) {
      width: 55px;
    }
    @include respond(slim-phone) {
      width: 35px;
    }
  }
}
