.project {
  &__card {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 0;
    transition: 0.5s;

    @include respond(big-desktop) {
      font-size: 14px;
    }
    @include respond(desktop) {
      font-size: 12px;
    }
    @include respond(tab-land) {
      position: relative;
      width: 100%;
      transform: translate(-50%, 0%);
    }
  }

  &:hover &__card {
    @media (min-width: 992px) {
      top: 100%;
    }
  }

  &:hover &__image {
    @media (min-width: 992px) {
      transform: scale(1.01);
    }
  }

  &__image {
    border: 0.7rem solid lightblue;
    width: 100%;
    transition: 0.5s;
  }

  &__description {
    color: $color-primary;
  }

  &__technology {
    @include respond(tab-land) {
      width: 37px;
    }
    @media (min-width: 992px) {
      height: 37px;
    }
  }

  &__link {
    &--website {
      width: 25px;
    }
    &--github {
      width: 30px;
    }
  }
}
