.project-card {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border-radius: 0;

  @media (max-width: 1400px) {
    font-size: 14px;
  }
  @media (max-width: 1199px) {
    font-size: 12px;
  }
  @media (max-width: 992px) {
    position: relative;
    width: 100%;
    transform: translate(-50%, 0%);
  }
}

.project-image {
  border: 0.7rem solid lightblue;
  width: 100%;
}
